*/_CommonRedist/
*/media
./MonoBleedingEdge
./rocketstation_DedicatedServer_Data
MonoBleedingEdge
rocketstation_DedicatedServer_Data
**/_CommonRedist/
MonoBleedingEdge/
rocketstation_DedicatedServer_Data/
*/CommonRedist
*/saves
UnityCrashHandler64.exe
UnityPlayer.dll
setting.xml
rocketstation_DedicatedServer*
SSUI*.exe
SSUI*.x86_64
*.so
/saves/*
# DO NOT ignore the .gitkeep file inside saves
!/saves/.gitkeep
.github/workflows/nightly-sync.yml
repos.md
SteamServerUI
UIMod/*.pem
steamcmd/*
.gitignore
Blacklist.txt
steamapps/appmanifest_600760.acf
UIMod/detectionmanager/customdetections.json
UIMod/tls/cert.pem
UIMod/tls/key.pem
build/SSUI*
frontend/node_modules/.bin/
frontend/node_modules/**
frontend/dist/**
frontend/dist_electron/**
rocketstation_BurstDebugInformation_DoNotShip/Data/Plugins/lib_burst_generated.txt
modconfig.xml
debug.log
__debug_bin*
UIMod/v2/logo.png
UIMod/v2/icon500x500.png
UIMod/config/config.json
package-lock.json