/I/Need/To/Clean/This/Gitignore/Eventually

*/_CommonRedist/
*/media
./MonoBleedingEdge
./rocketstation_DedicatedServer_Data
MonoBleedingEdge
rocketstation_DedicatedServer_Data
**/_CommonRedist/
MonoBleedingEdge/
rocketstation_DedicatedServer_Data/
*/CommonRedist
*/saves
UnityCrashHandler64.exe
UnityPlayer.dll
setting.xml
rocketstation_DedicatedServer*
git-filter-repo
SSUI*.exe
SSUI*.x86_64
*.so
/saves/*
# DO NOT ignore the .gitkeep file inside saves
!/saves/.gitkeep
.github/workflows/nightly-sync.yml
repos.md
SteamServerUI
UIMod/*.pem
steamcmd/**
steamapps/**
.gitignore
Blacklist.txt
UIMod/detectionmanager/customdetections.json
UIMod/tls/cert.pem
UIMod/tls/key.pem
build/SSUI*
frontend/node_modules/.bin/
frontend/node_modules/**
frontend/dist/**
frontend/dist_electron/**
rocketstation_BurstDebugInformation_DoNotShip/Data/Plugins/lib_burst_generated.txt
modconfig.xml
debug.log
__debug_bin*
UIMod/v2/logo.png
UIMod/v2/icon500x500.png
UIMod/config/config.json
package-lock.json
UIMod/CodeServer/**
UIMod/runfiles/**
UIMod/onboard_bundled/v2/assets/ssui.js
UIMod/onboard_bundled/v2/assets/ssui.css
UIMod/config/customdetections.json
UIMod/config/tls/cert.pem
UIMod/config/tls/key.pem
UIMod/config/settings.json
build/latest-linux.yml
build/latest.yml
build/release/** */
